* {
    box-sizing: content-box;
    font-family: system-ui;
} 

body {
    display:flex;
    margin:25px;
    text-align: center;
}

.button {
    position: relative;
    background-color:#2572ee;
    margin: 20px auto;
    text-align: center;

}

button:hover {
    transition: 0.3s;
}

.modeLabel {
    display: none
}

:is([br-mode=on] #onModeLabel, [br-mode=off] #offModeLabel) {
    display: initial
}

button:active {
    background-color:#2572eece;
    transition: 0.3s;

}

#lineHeightLabel {
    padding-bottom: 4px;
    text-align: center;
    font-family: system-ui;
}

#checkboxContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px
    margin-bottom: 10px;
    
}

.w-100 {
    width: 100%
}

.flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.justify-between {
    justify-content: space-between
}

.align-items-center {
    align-items: center
}
